.landing-page {
  background: 
      linear-gradient(90deg, rgba(32, 43, 150, 0.9) 5%, rgba(96, 165, 250, 0.9) 50%, rgba(32, 43, 150, 0.9) 95%), 
      url(../../Icons/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 20px;
  text-align: center;
  color: white;
  display: flex;
  gap: 20px;
}



.left, .right {
  // margin: 10px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute the plan items evenly */
  align-items: stretch;
  max-width: 50%;
  gap: 50px;
  
    
}

  .plan-item {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    min-height: 120px;
    border-radius: 30px;
  }




.Topic {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: transparent;
  color: white;
  text-align: center; 
  flex: 4; 
}

h1 {
  font-size: 48px;
  
}

p {
  font-size: 18px;
  
}

.cta-button, .google-signup {
  padding: 15px 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.cta-button {
  background-color: #1b4ebb;
  color: white;
}

.google-signup {
  background-color: white;
  color: #2563eb;
}
