.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #202b96, #60a5fa);
  }
  
  .logo h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 5%;
    flex-direction: row;
    
  }

  
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    width: auto;
    padding:8px 15px;
    background: rgba(20, 19, 19, 0.5);
    border-radius: 30px;
  }
  
  .user-name {
    margin-right: 10px;
    color: white;
  }
  
  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: gray;
    object-fit: cover;
  }
  