.footer {
    background-color: #081225;
    
    color: white;
    text-align: center;
    overflow : hidden;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .partners {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #131E33 5%, #0D172B 70%, #1B273B 95%);
    padding: 20px 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
  
  .partners img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.8;
  }
  
  .footer-info p {
    font-size: 24px;
  }

  
  