.detailpage {
  background: linear-gradient(
      90deg,
      rgba(32, 43, 150, 0.9) 5%,
      rgba(96, 165, 250, 0.9) 50%,
      rgba(32, 43, 150, 0.9) 95%
    ),
    url(../../Icons/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 520px;
  text-align: center;
  color: white;
  display: flex;
  gap: 20px;
  height: 60vh;
}
